body {
	background-color: blue;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	padding-top: 220px;

}



	



}


.container {

	
	width: 220px;
}

h1 {

	font-size: 30px;
}